[mysqld]

# стратегия сброса данных на диск при работе MySQL
# 0 - буфер будет сбрасываться в лог файл независимо от транзакций
# 1 - (default) любая завершенная транзакция будет синхронно сбрасывать лог на диск
# 2 - сбрасывает лог не на диск, а в кеш операционной системы
# https://highload.today/innodb_flush_log_at_trx_commit-i-rekomenduemye-znacheniya/
innodb_flush_log_at_trx_commit=2
